auto-install-peers=false
package-manager-strict=false
package-manager-strict-version=false
store-dir=.pnpm-store
virtual-store-dir=.pnpm
virtual-store-dir-max-length=80
# termux-supported-architectures
supportedArchitectures.os[]=current
supportedArchitectures.os[]=linux
supportedArchitectures.cpu[]=current
supportedArchitectures.cpu[]=arm64
supportedArchitectures.cpu[]=wasm32
